ion-card {
    --background: linear-gradient(#269fbd, #dddee0);
    margin: 0 auto;
    top: 2vh;
    height: 50vh;
    width: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;

}

.div{
    padding: auto;
}


.cardlista{
    background-color: rgb(255, 246, 246);
    margin: 0 auto;
    top: 5vh;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
}


.fondo {
    height: 100vh;
    background-image: url("../../..//assets/img/fondo_duoc.jpg");
    background-size: cover;
    text-align: center;
}
.lista{
    height: 100vh;
    background-color: rgb(160, 154, 148);
    background-size: cover;
    text-align: center; 
    height: 40vh;
}

.card2{
    background-color: bisque;
    margin: 0 auto;
    top: 5vh;
    height: 40vh;
    width: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;

}


ion-item {
    --background: none;

    ion-label {
        font-size: large;
        font-weight: bold;
    }
}

@media (max-width: 400px) {
    .fondo {
        ion-card {
            width: 80vw;
        }
    }
}