

<ion-content>
  <div class="fondo">
    <form [formGroup]="asignatura" (ngSubmit)="agregar()">

      <ion-card>
  
        <ion-card-header>
          <ion-card-subtitle>INGRESAR</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item >
            <ion-label position="stacked">sigla</ion-label>
            <ion-input formControlName="sigla" type="text" placeholder="Ingrese correo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">nombre</ion-label>
            <ion-input formControlName="nombre" type="text" placeholder="Ingrese clave"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">profesor</ion-label>
            <ion-input formControlName="profesor" type="text" placeholder="Ingrese clave"></ion-input>
          </ion-item>
          <ion-button type="submit" expand="full">Ingresar</ion-button>
          <ion-button (click)="modificar()" [disabled]="id_modificar == ''" expand="full">Modificar</ion-button>

        </ion-card-content>

      </ion-card>



        <h1>Lista de asignaturas</h1>
        <div class="div">
          
          <ion-list *ngFor="let u of asignaturas" class="lista">
    
            <ion-card class="cardlista">
          
                  <ion-card-title>ID: {{u.id}}</ion-card-title>
                  <ion-card-title>sigla: {{u.sigla}}</ion-card-title>
                  <ion-card-title>NOMBRE: {{u.nombre}}</ion-card-title>
                  <ion-card-title>profesor: {{u.profesor}}</ion-card-title>
                  
              <ion-item>
                <ion-button slot="end" color="warning"(click)="buscar(u.id)">Buscar</ion-button>
                <ion-button slot="end" color="danger"  (click)="eliminar(u.id)">Eliminar</ion-button>
              </ion-item>
            </ion-card>
          </ion-list>
        </div>

    
    </form>
  </div>
</ion-content>