@use '../../../global.scss';




.cardIngrear{

        --background: linear-gradient(#269fbd, #dddee0);
        margin: 0 auto;
        top: 2vh;
        height: 50vh;
        width: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: cover;
    
    }
.boton{

    --background: linear-gradient(#ffd900, #ffd900,);

}  
.input{

    background-color: #dddee0;

}  
@media (max-width: 400px) {
    .fondo {
        ion-card {
            width: 80vw;
        }
    }
}